body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /*flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif; */
}

.container-main-content{
    margin: 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: -80px;
}

.container-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 266.77px;
}

.buttons-styles-div,
.buttons-sizes-div{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

button {
    height: 40px;
    width: 100px;
    align-self: center;
    border-color: gold;
    background-color: black;
    color: white;
}

.btn-clear{
   height: 48px;
   width: 120px;
}


.toy-container {
    background-color: rgb(173, 23, 23);
    height: 700px;
    width: 1000px;
    border: solid darkred 10px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: gold;
    margin: 0px;
    margin-top: 10px;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
    color: gold;
    margin: 0px;
}


.toy-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-shrink: 0;
    /* flex-direction: column; */
    align-items: center;
    height: 125px;
}


.grid-container {
    background-color: green;
    height: 450px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    border: solid darkred 15px;
    border-radius: 15px;
}

.grid-square {
    background-color: white;
    height: 30px;
    width: 30px;
    /* border: solid 1px gray; */
    margin: 0px;
}

.dragged {
    background-color: rgb(192, 89, 149);
}

.toy-footer {
    height: 125px;
    display: flex;
    flex: 1 0 auto;
    width: 980px;
}

.knob {
    height: 120px;
    width: 120px;
    background-color: white;
    border: solid darkgray 5px;
    border-radius: 50%;
    display: inline-block;
}

.knob.left {
    margin-right: auto;
}
